<div class="card-body">

  <div class="form-group">
    <%= form.label :statement %>
    <%= form.text_area :statement, id: :question_statement, autofocus: true, placeholder: "Enunciado", class: "form-control" %>
  </div>

  Alternativas:
  <%= form.fields_for :alternatives do |alternatives_fields| %>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="ti ti-check"></i></span>
        <%= alternatives_fields.text_field :statement, autofocus: true, placeholder: "Alternativa correta", class: "form-control", style: "background-color: #E0FFFF" %>
      </div>
    </div>

    <% 4.times do %>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="ti ti-close"></i></span>
        <%= alternatives_fields.text_field :statement, autofocus: true, placeholder: "Alternativa incorreta", class: "form-control", style: "background-color: #FFDAB9" %>
      </div>
    </div>
    <% end %>

  <% end %>

  <div class="form-group">
    <%= form.label :source %>
    <%= form.text_field :source, id: :question_source, autofocus: true, placeholder: "Fonte", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :area %>
    <%= form.select :area, options_for_area(@question.area), {}, {id: :question_area, required: 'true', autofocus: 'true', class: 'form-control'} %>
  </div>

  <%= form.fields_for :solution do |solution_fields| %>
    <div class="form-group">
      <%= solution_fields.label :statement %>
      <%= solution_fields.text_area :statement, autofocus: true, placeholder: "Resolução", class: "form-control" %>
    </div>
  <% end %>

</div>
