<div class="history">
  <nav class="row nav-header" aria-label="breadcrumb">
    <div class="col-lg-9">
      <div class="page-title">
        <h5>Histórico de Simulados</h5>
      </div>
    </div>
    <div class="col-lg-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", student_root_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Histórico</li>
        </ol>
    </div>
  </nav>

  <div class="row content">
    <div class="col-lg-12">
      <div class="card no-border no-background">

        <div class="card-body">
          <div class="row">
            <% simulations.each do |simulation| %>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card ">
                  <div class="card-header">
                    <h5><%= simulation.exam.title %></h5>
                  </div>
                  <div class="card-body">
                    <i class="ti ti-calendar"></i><strong><%= simulation.date %></strong><br>
                    <i class="ti ti-time"></i><strong><%= simulation.time_spent %></strong><br>
                    <i class="ti ti-cup"></i><strong><%= simulation.score %></strong><br>
                    <i class="ti ti-pencil-alt"></i><strong><%= simulation.questions.size %> questões</strong>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row justify-content-center">
          <%= paginate @simulations, window: 2 %>
        </div>

      </div>
    </div>
  </div>
</div>
