<%= form_with(url: profile_path, model: profile, local: true, class: "card p-3", data: { readonly: true }) do |form| %>
  <h4 class="card-title fw-400">Profile Settings</h4>

  <div class="card-body">
    <div class="d-flex gap-items-4">
      <div class="avatar avatar-xxl mr-2 bg-secondary" id="content-avatar">
        <%= select_profile_avatar(current_user, {id: 'avatar-img'}) %>
      </div>

      <div class="flex-grow">
        <h5><%= profile.full_name %></h5>
        <div class="d-flex mt-16">
          <label class="file-group file-group-inline">
            <button class="btn btn-sm btn-outline-gray btn-round file-browser" type="button">
              Change Picture
            </button>
            <%= form.file_field :avatar, id: :profile_avatar %>
            <!-- <span class="custom-file-control"></span> -->
          </label>
          <label class="file-group mx-1">
            <button class="btn btn-sm btn-outline-danger btn-round remove-avatar">
              Delete Picture
            </Button>
            <%= form.check_box :remove_avatar, id: :remove_avatar %>
          </label>
        </div>

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="form-group col-md-6">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, id: :profile_first_name, class: "form-control" %>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, id: :profile_last_name, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= form.label :phone %>
        <%= form.text_field :phone, id: :profile_phone, class: "form-control" %>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :birthday %>
        <%= form.date_field :birthday, id: :profile_birthday, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <%= link_to "Cancel", :profile, class: "btn btn-round btn-outline-dark" %>
    <%= form.submit nil, class: "btn btn-round btn-outline-primary" %>
  </div>

<% end %>
