<div class="card-body">
  <div class="d-flex justify-content-center">
    <div class="mr-2" id="content-avatar">
      <%= user.profile.avatar_thumb({id: 'avatar-img', size: 'xxl'}) %>
    </div>
    <div class="flex-grow">
      <h5><%= user.profile.full_name %></h5>
      <div class="d-flex mt-16">
        <label class="file-group file-group-inline">
          <button class="btn btn-sm btn-outline-gray btn-round file-browser" type="button">
            Mudar Foto
          </button>
          <%= form.file_field :avatar, id: :profile_avatar %>
        </label>
        <label class="file-group mx-1">
          <button class="btn btn-sm btn-outline-danger btn-round remove-avatar">
            Deletar Foto
          </Button>
          <%= form.check_box :remove_avatar, id: :remove_avatar %>
        </label>
      </div>
    </div>
  </div>
  <hr>
  <%= render 'fields', form: form, profile: current_user.profile %>

</div>
