<div class="row justify-content-center my-3">
  <div class="col-lg-9">
    <div class="card p-3">
      <h4 class="card-title">Seu Perfil</h4>
      <div class="card-body">
        <div class="d-flex">
          <div class="avatar avatar-xxl mr-2 bg-secondary" id="content-avatar">
            <%= current_user.avatar({id: 'avatar-img'}) %>
          </div>

          <div class="flex-grow">
            <h5><%= current_user.profile.full_name %></h5>
            <div class="d-flex mt-16">
              <label class="file-group file-group-inline">
                <%= link_to edit_profile_path, class: "btn btn-outline-info" do %>
                  Editar Perfil <i class="ti ti-pencil"></i>
                <% end %>
              </label>
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <span><strong>Telefone: </strong><%= @profile.phone %></span>
          </div>
          <div class="col-md-6">
            <span><strong>Aniversário: </strong><%= @profile.birthday %></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
