<div class="col-lg-4 card card-shadow p-0 mb-1 mx-auto" style="max-width: 20rem">
  <div class="card-header">
    <h5 class="card-title"><%= exam.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
  </div>
  <div class="card-body">
    <span class="form-group d-flex align-self-center">
      <span class="align-self-center"><i class="text-purple ti-book"></i></span>
      <span class="">
        <% exam.questions.decorate.map(&:t_area).uniq.each do |area|  %>
        <small class="ml-3 d-inline-block"><%= area %></small>
        <% end %>
      </span>
    </span>
    <p class="card-text">
      <i class="text-purple ti-pencil-alt"></i>
      <span class="ml-3"><b><%= exam.questions.count %></b> questões</span>
    </p>
    <p class="card-text">
      <i class="text-purple ti-time"></i>
      <span class="ml-3"><b><%= 2 %></b> horas</span>
    </p>

  </div>
  <div class="card-footer text-right ">
    <%= link_to "Iniciar Simulado", new_exam_simulation_path(current_user.module_kind, exam),
      remote: true, class: "btn btn-outline-primary" %>
  </div>
</div>
