<%= form_with(url: exams_path, model: [current_user.module_kind, exam], local: true) do |form| %>

  <%= render 'shared/form_errors', messages: exam.errors.full_messages if exam.errors.any? %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :exam_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :year %>
    <%= form.select :year, (Time.zone.now.year - 20)..(Time.zone.now.year), {},
      {id: :exam_year, class: 'form-control'} %>
  </div>

  <%= form.hidden_field :kind, id: :exam_kind, value: :enem %>

  <%= form.collection_check_boxes :question_ids, Question.approved, :id, :statement %>

  <div class="text-right">
    <%= form.submit class: 'btn btn-outline-primary btn-round' %>
  </div>
<% end %>
