<%= render 'devise/shared/layout', locals: { title: 'Cadastro', social_links: true } do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ti ti-email"></i></span>
        </div>
        <%= f.email_field(:email, autofocus: true,
          placeholder: "Email", class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ti ti-lock"></i></span>
        </div>
        <%= f.password_field :password, autocomplete: "off",
        placeholder: "Password", class: "form-control" %>
      </div>
      <span class="d-flex justify-content-end">
        <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length %> characters minimum)</small><br />
        <% end %>
      </span>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ti ti-arrow-circle-down"></i></span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "off",
         placeholder: "Confirm password", class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="mt-3">
      <%= f.submit class: "btn btn-primary form-control" %>
    </div>
  <% end %>

  <% content_for :card_footer do %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
<% end %>
