<div class="card-body">

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :city %>
      <%= form.text_field :city, id: :address_city, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :cep %>
      <%= form.text_field :cep, id: :address_cep, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :district %>
      <%= form.text_field :district, id: :address_district, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :street %>
      <%= form.text_field :street, id: :address_street, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :state %>
      <%= form.select :state, options_for_states(current_user.address.state),
        {}, {id: :address_state, class: "form-control"} %>
    </div>
  </div>

</div>
