<li class="nav-item">
  <%= link_to "#", class: "nav-link", data: { toggle: 'submenu' }, aria: { expanded: false } do %>
    <i class="icon ti-clipboard"></i>
    <span class="title-label">Simulados</span>
    <span class="arrow"></span>
  <% end %>

  <ul class="sidebar-submenu collapse" id="sidebar-submenu">
    <li class="nav-item">
      <%= link_to student_simulations_path, class: "nav-link" do %>
        <span class="title-label">Histórico</span>
        <span class="dot"></span>
      <% end %>
    </li>
    <p></p>
    <li class="nav-item <%= active_for(controller: 'exams', action: 'index') %> ">
      <%= link_to exams_path(current_user.kind), class: "nav-link" do %>
        <span class="title-label">Fazer Simulado</span>
        <span class="dot"></span>
      <% end %>
    </li>
  </ul>
</li>

<li class="nav-item <%= active_for(controller: 'plans', action: 'index') %>">
  <%= link_to :student_plans, class: "nav-link" do %>
    <i class="icon ti-shopping-cart-full"></i>
    <span class="title-label">Planos</span>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to student_ranking_path, class: "nav-link" do %>
    <i class="icon ti-cup"></i>
    <span class="title-label">Ranking</span>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to "#", class: "nav-link" do %>
    <i class="icon ti-cloud-up"></i>
    <span class="title-label">Enviar Questões</span>
  <% end %>
</li>
