<div class="student-dashboard container">

  <div class="panel panel-container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card panel widget border-right">
            <%= link_to "#", class: "grow" do %>
              <i class="ti ti-medall large text-purple"></i>
            <% end %>
            <span class="large"><%= current_user.score %></span>
            <span class="text-muted">Seu Score</span>
          </div>
        </div>

        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card panel widget border-right">
            <i class="ti ti-user large text-purple grow"></i>
            <span class="large">666</span>
            <span class="text-muted">Alunos</span>
          </div>
        </div>

        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card panel widget border-right">
            <i class="ti ti-write large text-purple grow"></i>
            <span class="large">1200</span>
            <span class="text-muted">Banco de Questões</span>
          </div>
        </div>

        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card panel widget">
            <%= link_to student_simulations_path, class: "grow" do %>
              <i class="ti ti-clipboard large text-purple"></i>
            <% end %>
            <span class="large"><%= current_user.simulations.size %></span>
            <span class="text-muted">Seus Simulados</span>
          </div>
        </div>
    </div>
  </div><!-- end panel-container -->

  <div class="row padding-top">
    <div class="col-md-8 col-lg-8 col-sm-8 no-border">
      <div class="card panel text-left card-block">
        <div class="card-header">
          <h4 class="text-purple"><i class="ti ti-bar-chart"></i> Desempenho</h4>
        </div>
        <div class="card-body">
          <div class="container">
            
          </div>

        </div>
      </div>
    </div>

    <!-- Ranking -->
    <div class="col-md-4 col-lg-4 col-sm-4 no-border">
      <%= render "student/shared/ranking" %>
    </div>
  </div>

</div>
