<div class="student-dashboard container">

  <div class="panel-container no-border" style="margin-top: 20px;">
    <div class="row">
        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card no-border widget border-right">
            <%= link_to student_ranking_path, class: "grow" do %>
              <i class="ti ti-medall large text-purple"></i>
            <% end %>
            <span class="large"><%= '%.2f' % current_user.score %></span>
            <span class="text-muted">Seu Score</span>
          </div>
        </div>

        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card no-border widget border-right">
            <i class="ti ti-time large text-purple grow"></i>
            <span class="large"><%= current_user.average_time %></span>
            <span class="text-muted">Tempo médio</span>
          </div>
        </div>

        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card no-border widget border-right">
            <i class="ti ti-write large text-purple grow"></i>
            <span class="large"><%= current_user.questions.length %></span>
            <span class="text-muted">Suas Questões</span>
          </div>
        </div>

        <div class="col-6 col-md-3 col-lg-3 no-padding">
          <div class="card no-border widget">
            <%= link_to student_simulations_path, class: "grow" do %>
              <i class="ti ti-clipboard large text-purple"></i>
            <% end %>
            <span class="large"><%= current_user.simulations.length %></span>
            <span class="text-muted">Seus Simulados</span>
          </div>
        </div>
    </div>
  </div><!-- end panel-container -->

  <div class="row py-3">
    <div class="col-lg-8 mb-2">
      <div class="card text-left no-border">
        <div class="card-body">
          <h4 class="text-purple"><i class="ti ti-bar-chart"></i> Desempenho</h4><hr>
            <%= pie_chart current_user.hits_per_area, donut: true,
                colors: ["#4087e0", "#822c95", "#d22357"], height: "250px" %> 

        </div>
      </div>
    </div>

    <!-- Ranking -->
    <div class="col-lg-4 mb-2">
        <%= render "student/shared/ranking" do %>
          <%= render "student/shared/tbody_home" %>
        <% end %>
    </div>
  </div>

</div>
