<div class="container">
  <div class="card p-3">
    <h1>History</h1>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Action</th>
          <th>Item Type</th>
          <th>Time Ago</th>
        </tr>
      </thead>
      <tbody>
        <% @versions.each do |version| %>
        <% user = @version_users.select { |u| u.id == version.whodunnit.to_i }.first %>
          <tr>
            <th scope="row"><%= version.id %></th>
            <td><%= user.email %></td>
            <td><%= version.event %></td>
            <td><%= version.item_type %></td>
            <td><%= time_ago_in_words(version.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
