<%= render 'devise/shared/layout', locals: { title: 'Recuperar Senha' } do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="ti ti-lock"></i></span>
        <%= f.password_field :password, autofocus: true, autocomplete: "off",
        placeholder: "New password", class: "form-control" %>
      </div>
      <span class="d-flex justify-content-end">
        <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length %> characters minimum)</small><br />
        <% end %>
      </span>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-append pr-1"><i class="ti ti-arrow-circle-down"></i></span>
        <%= f.password_field :password_confirmation, autocomplete: "off",
        placeholder: "Confirm new password", class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "btn btn-primary form-control" %>
    </div>
  <% end %>

  <% content_for :card_footer do %>
    <%= render "devise/shared/links" %>
  <% end %>
<%= end %>
