<div class="row my-2 p-2 mx-auto bg-white">
  <div class="container">
    <h2 class="card-title text-purple">Planos</h2>
  </div>
</div>

<div class="row mx-auto my-2 bg-white">
  <div class="card p-3 w-100">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Stripe ID</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.name %></td>
          <td><%= number_to_currency plan.price %></td>
          <td><%= plan.stripe_id %></td>
          <td class="d-inline-flex">
            <%= link_to admin_plan_path(plan), class: 'mx-1' do %>
              <i class="ti ti-eye"></i>
            <% end %>
            <%= link_to admin_plan_path(plan), method: :delete, data: { confirm: 'Tem certeza?' } do %>
              <i class="ti ti-trash" style="margin-left: 10px;"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<br>
