<div class="row">
  <div class="col-md-6">
    <span><strong>Estado: </strong> <%= address.state %></span>
  </div>
  <div class="col-md-6">
    <span><strong>Cidade:</strong> <%= address.city %></span>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <span><strong>Bairro:</strong> <%= address.district %></span>
  </div>
  <div class="col-md-6">
    <span><strong>Rua:</strong> <%= address.street %></span>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <span><strong>CEP:</strong> <%= address.cep %></span>
  </div>
</div>
