<div class="row justify-content-center my-3">
  <div class="col-lg-10">
    <div class="card p-3 border-0">
      <div class="card-body">
        <div class="d-flex">
          <div class="mr-2" id="content-avatar">
            <%= @user.profile.avatar_thumb({id: 'avatar-img', size: 'xxl'}) %>
            <div class="row justify-content-center py-1">
              <strong class="text-purple">
                <% if @user.banned? %>
                  Banned <i class="ti ti-lock"></i>
                <% end %>
              </strong>
            </div>
          </div>

          <div class="flex-grow">
            <h5><%= @user.profile.full_name %></h5>
            <%= @user.email %>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <span><strong>Telefone: </strong><%= @user.profile.phone %></span>
          </div>
          <div class="col-md-6">
            <span><strong>Aniversário: </strong><%= @user.profile.birthday %></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span><strong>Sexo: </strong><%= @user.profile.sex %></span>
          </div>
        </div>

      </div>
      <div class="card-footer" style="margin-top: 10px;">
        <div class="row">
          <div class="col-lg-6">
            <%= link_to 'Voltar', admin_users_path, class: "btn btn-round btn-outline-dark" %>
          </div>
          <div class="col-lg-6 text-right">
            <%= link_to 'Editar', edit_admin_user_path(@user), class: "btn btn-round btn-outline-primary" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
