<!DOCTYPE html>
<html>
  <head>
    <title>Enemgo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' unless devise_controller? %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' unless devise_controller? %>
  </body>
</html>
