<!DOCTYPE html>
<html>
  <head>
    <title>EnemGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#0E64CA">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <% controllers = ['registration_steps'] %>
    <%= render 'shared/navbar' unless present_controllers? controllers %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' unless present_controllers? controllers %>
  </body>
</html>
