<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EnemGO</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0E64CA">
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= ENV['STR_PUBLISHABLE_KEY'] %>');
    </script>
  </head>

  <body>
    <% controllers = ['registration_steps'] %>
    <%= render 'shared/navbar' unless present_controllers? controllers %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer_secondary' unless present_controllers? controllers %>
  </body>
</html>
