<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EnemGO</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0E64CA">

    <script type="text/javascript">
      Stripe.setPublishableKey('<%= ENV['STR_PUBLISHABLE_KEY'] %>');
    </script>

  </head>
  <body>
    <%= render 'shared/dashboard/sidebar' %>
    <%= render 'shared/dashboard/navbar' %>
    <main>
      <div class="page-content">
        <%= render 'shared/dashboard/flash_messages' %>
        <%= yield %>
        <div id="modal-holder"></div>
      </div>
      <%= render 'shared/dashboard/footer' %>
    </main>
  </body>
</html>
